{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Votre panier! ✅</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom du produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for panier in listPanier %}
            <tr>
                <td>{{ panier.name }}
                <form method="POST" action="{{ path('panier.delete', {id: panier.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                    <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                </form>
                </td>
                <td>1</td>
                <td>{{ panier.price }}€</td>
            <tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>Total: {{totalPrix}}€</td>
        </tr>
    </tbody>
</table>
{{ form_start(panierForm) }}
        <div class="form-group">
            <label for="article_title">Valider votre commande</label>
            {{ form_widget(panierForm.email) }}
            <small class="text-danger">
                {{ form_errors(panierForm.email) }}
            </small>
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            Valider la commande
        </button>
    {{ form_end(panierForm) }}
</div>
{% endblock %}
