{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    ul {list-style-type: none; }
</style>

<div class="example-wrapper">
    <h1>Liste des produits! ✅</h1>
    <ul>
        {% for produit in listproduct %}
            <li><a href="{{ path('product.show', {id : produit.id}) }}">{{ produit.name }}</a></li>

            <li>{% if produit.description|length > 300 %}
            {{ produit.description|slice(0, 300) }} <a href="{{ path('product.show', {id : produit.id}) }}">... voir plus</a>
            {% else %}
            {{ produit.content }}
            {% endif %}</li>
            <li>le {{ produit.createdAt.date|date("d/m/Y"   ) }}</li>
            <li>Prix : {{ produit.price }}€</li>
            <br />
        {% endfor %}
    </ul>
</div>
{% endblock %}
