{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="/product">Retour</a>
    <h1 data-id="{{ leproduct.id }}">{{ leproduct.name }}</h1>
    Le {{ leproduct.createdAt.date|date("d/m/Y"   ) }}
    <p>{{ leproduct.description }}</p>
    <p>Prix : {{ leproduct.price }}€</p>
    <button id="addPanier" class="btn btn-primary">Ajouter au panier</button>
</div>
{% endblock %}

{% block javascripts %}
<script>
const id = document.querySelector("h1").getAttribute("data-id");
const addPanier = document.querySelector("#addPanier");
const url = `/panier/add/${id}`;

addPanier.addEventListener("click", () => {

    fetch(url)
        .then(res => res.json())
        .then(res => {
            addPanier.disabled = true;
            console.log("CA MARCHE!!!");
        });
});
</script>
{% endblock %}