{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    ul {list-style-type: none; }
</style>

<div class="example-wrapper">
    <h1>Liste des commandes! ✅</h1>
    <ul>
        {% for command in listCommand %}
            <li>ID : {{ command.id }}</li>
            <li>Email : {{ command.email }}</li>
            <li><a href="{{ path('command.show', {id : command.id}) }}">Voir plus d'information</a></li>
            <br />
        {% endfor %}
    </ul>
</div>
{% endblock %}
