{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    ul {list-style-type: none; }
</style>

<div class="example-wrapper">
    <a href="/command">Retour</a>
    <h1>{{ laCommand.email }} | {{ laCommand.id }}</h1>
    <ul>Liste des produits achetés:
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom du produit</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in listProduit %}
            <tr>
                <td><a href="{{ path('product.show', {id : produit.id}) }}">{{ produit.name }}</a></td>
                <td>{{ produit.price }}€</td>
            <tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Nombre d'article: {{nbProduct}}</td>
            <td>Total prix: {{prixTotal}}€</td>
        </tr>
    </tbody>
</table>
    </ul>
</div>
{% endblock %}